<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="laminas-cache Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>

        <!-- Note: the following is a FULL list of ALL POSSIBLE constants
             currently in use in Laminas for ALL COMPONENTS; you should choose the
             constants appropriate to the component you are migrating. -->

        <env name="TESTS_LAMINAS_CACHE_XCACHE_ENABLED" value="false" />
        <env name="TESTS_LAMINAS_CACHE_XCACHE_ADMIN_AUTH" value="false" />
        <env name="TESTS_LAMINAS_CACHE_XCACHE_ADMIN_USER" value="" />
        <env name="TESTS_LAMINAS_CACHE_XCACHE_ADMIN_PASS" value="" />
        <env name="TESTS_LAMINAS_CACHE_PLATFORM_ENABLED" value="false" />
        <env name="TESTS_LAMINAS_CACHE_ZEND_SERVER_ENABLED" value="false" />
    </php>
</phpunit>
